apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-service
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-service
  template:
    metadata:
      labels:
        app: users-service
    spec:
      containers:
        - name: users-service
          image: acraksworkshopdev.azurecr.io/users-service:latest
          ports:
            - containerPort: 8081
