apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-service
  template:
    metadata:
      labels:
        app: users-service
    spec:
      containers:
        - name: users-service
          image: youracr.azurecr.io/users-service:1.0.0
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: db-secret
