apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: image-service
          image: acraksworkshopdev.azurecr.io/image-service:latest
          ports:
            - containerPort: 8082
